@import '~@pxblue/colors/palette';

:host {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dot {
    height: 8px;
    width: 8px;
    background-color: map-get($pxb-gray, 200);
    border-radius: 100%;
    margin: 0 4px;
}

.active {
    background-color: map-get($pxb-blue, 500);
}
