@import '~@pxblue/colors/palette';

.pxb-contact-support-title {
    padding-bottom: 24px;
}

.pxb-contact-support-description {
    display: flex;
    flex-direction: column;
    flex: 1 1 0px;
}

.pxb-contact-support-chat-bubble-icon {
    font-size: 70px;
    color: map-get($pxb-blue, 500);
    margin-left: -45px;
}

.pxb-contact-support-button-container {
    padding: 8px;
    display: flex;
    justify-content: flex-end;
}
