<div class="mat-title pxb-auth-title">
    {{ title }}
    <ng-content *ngIf="!title" select="[pxb-title]"></ng-content>
</div>

<div style="text-align: center; margin-bottom: 26px; margin-top: 8px;">
    <div #icon>
        <ng-content select="[pxb-icon]"></ng-content>
    </div>
    <mat-icon *ngIf="isEmpty(iconEl)" class="pxb-contact-support-chat-bubble-icon">chat_bubble_outline</mat-icon>
</div>

<div class="pxb-contact-support-description">
    <p class="mat-body-1" style="margin-bottom: 8px;">
        {{ generalSupportTitle }}
        <ng-content *ngIf="!generalSupportTitle" select="[pxb-general-support-title]"></ng-content>
    </p>

    <p class="mat-body-1" style="margin-bottom: 32px;" [innerHTML]="generalSupportDescription"></p>
    <ng-content *ngIf="!generalSupportDescription" select="[pxb-general-support-description]"></ng-content>

    <p class="mat-body-1" style="margin-bottom: 8px;">
        {{ emergencySupportTitle }}
        <ng-content *ngIf="!emergencySupportTitle" select="[pxb-emergency-support-title]"></ng-content>
    </p>

    <p class="mat-body-1" [innerHTML]="emergencySupportDescription"></p>
    <ng-content *ngIf="!emergencySupportDescription" select="[pxb-emergency-support-description]"></ng-content>
</div>

<mat-divider style="margin-bottom: 16px" class="pxb-auth-divider"></mat-divider>

<div class="pxb-auth-action-button-container">
    <button mat-flat-button color="primary" (click)="navigateToLogin()" [style.width.%]="100">
        {{ buttonText }}
        <ng-content *ngIf="!buttonText" select="[pxb-button-text]"></ng-content>
    </button>
</div>
