.pxb-auth-password-check {
    height: auto;
    ::ng-deep .mat-list-base .mat-list-item .mat-list-item-content {
        padding: 0;
    }
    .validation-message {
        color: #424e54;
    }

    .validation-message  {
        padding-left: 8px;
        font-weight: 400;
        line-height: 1.2;
    }
}

mat-icon, .validation-message.success {
    color: #9ca5a9;
}
