@import '~@brightlayer-ui/colors/palette';

.blui-auth-loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: map-get($blui-black, 500);
    z-index: 3;
    opacity: 0.2;
}

.blui-auth-loading-spinner {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blui-auth-loading-message {
    margin-top: 16px;
    margin-bottom: -40px;
}
