@import '~@pxblue/colors/palette';


.pxb-float-card-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007bc1;
}

.pxb-inner-card {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: auto;
    overflow-x: hidden;
    position: relative;
    max-width: 450px;
    max-height: 730px;
    flex-direction: column;
}

.splash-screen {
    align-items: center;
    justify-content: center;
}

.splash-screen-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login {
    padding: 16px 48px;
}

.contact-support,
.forgot-password,
.reset-password,
.create-account,
.create-account-invite {
    height: 100%;
    display: flex;
    flex-direction: column;
}

::ng-deep .mat-card .mat-divider-horizontal {
    margin-left: -24px !important;
    margin-right: -24px !important;
    position: static !important;
    width: auto !important;
}

::ng-deep {
    .change-password-modal > mat-dialog-container {
        padding: 16px;
    }
}
