<div class="pxb-auth-content" [style.backgroundImage]="'url(' + backgroundImage + ')'">
    <mat-card class="pxb-auth-inner-card" [class.pxb-auth-splash-screen]="!isSecurityInitiated">
        <pxb-auth-loading-overlay *ngIf="isLoading"></pxb-auth-loading-overlay>

        <div *ngIf="!isSecurityInitiated" class="pxb-auth-splash-screen-content">
            <img [src]="projectImage" style="max-width: 100%; max-height: 80px; margin-bottom: 48px;" />
            <mat-spinner diameter="40"></mat-spinner>
        </div>

        <div #login [class.pxb-auth-login]="!isEmpty(loginEl) && showLogin">
            <ng-content *ngIf="showLogin && isSecurityInitiated" select="pxb-login"></ng-content>
        </div>
        <pxb-login
            *ngIf="isEmpty(loginEl) && showLogin && isSecurityInitiated"
            [class.pxb-auth-login]="isEmpty(loginEl) && showLogin"
        ></pxb-login>

        <div #resetPassword [class.pxb-auth-reset-password]="!isEmpty(resetPasswordEl) && showResetPassword">
            <ng-content
                *ngIf="showResetPassword"
                select="pxb-reset-password"
                [class.pxb-auth-reset-password]="!isEmpty(resetPasswordEl) && showResetPassword"
            ></ng-content>
        </div>
        <pxb-reset-password
            *ngIf="isEmpty(resetPasswordEl) && showResetPassword"
            [class.pxb-auth-reset-password]="isEmpty(resetPasswordEl) && showResetPassword"
        ></pxb-reset-password>

        <div #createAccount [class.pxb-auth-create-account]="!isEmpty(createAccountEl) && showCreateAccount">
            <ng-content
                *ngIf="showCreateAccount"
                select="pxb-create-account"
                [class.pxb-auth-create-account]="!isEmpty(createAccountEl) && showCreateAccount"
            ></ng-content>
        </div>
        <pxb-create-account
            *ngIf="isEmpty(createAccountEl) && showCreateAccount"
            [class.pxb-auth-create-account]="isEmpty(createAccountEl) && showCreateAccount"
        ></pxb-create-account>

        <div
            #createAccountInvite
            [class.pxb-auth-create-account-invite]="!isEmpty(createAccountInviteEl) && showCreateAccountInvite"
        >
            <ng-content
                *ngIf="showCreateAccountInvite"
                select="pxb-create-account-invite"
                [class.create-account-invite]="!isEmpty(createAccountInviteEl) && showCreateAccountInvite"
            ></ng-content>
        </div>
        <pxb-create-account-invite
            *ngIf="isEmpty(createAccountInviteEl) && showCreateAccountInvite"
            [class.pxb-auth-create-account]="isEmpty(createAccountInviteEl) && showCreateAccountInvite"
        ></pxb-create-account-invite>

        <div #forgotPassword [class.pxb-auth-forgot-password]="!isEmpty(forgotPasswordEl) && showForgotPassword">
            <ng-content
                *ngIf="showForgotPassword"
                select="pxb-auth-pxb-forgot-password"
                [class.pxb-auth-forgot-password]="!isEmpty(forgotPasswordEl) && showForgotPassword"
            ></ng-content>
        </div>
        <pxb-forgot-password
            *ngIf="isEmpty(forgotPasswordEl) && showForgotPassword"
            [class.pxb-auth-forgot-password]="isEmpty(forgotPasswordEl) && showForgotPassword"
        ></pxb-forgot-password>

        <div #contactSupport [class.pxb-auth-contact-support]="!isEmpty(contactSupportEl) && showContactSupport">
            <ng-content *ngIf="showContactSupport" select="pxb-contact-support"></ng-content>
        </div>
        <pxb-contact-support
            *ngIf="isEmpty(contactSupportEl) && showContactSupport"
            [class.pxb-auth-contact-support]="isEmpty(contactSupportEl) && showContactSupport"
        ></pxb-contact-support>
    </mat-card>
</div>
