<div class="pxb-float-card-container">
    <mat-card class="pxb-inner-card">
        <pxb-login *ngIf="showLogin">
            <ng-content pxb-login-header select="[pxb-login-header]"></ng-content>
            <ng-content pxb-login-footer select="[pxb-login-footer]"></ng-content>
        </pxb-login>
        <pxb-reset-password *ngIf="showResetPassword"></pxb-reset-password>
        <pxb-create-account *ngIf="showCreateAccount"></pxb-create-account>
        <pxb-forgot-password *ngIf="showForgotPassword"></pxb-forgot-password>
    </mat-card>
</div>
