<div class="pxb-auth-content" [style.backgroundImage]="'url(' + backgroundImage + ')'">
    <mat-card class="pxb-auth-inner-card" [class.pxb-auth-splash-screen]="!isSecurityInitiated">
        <pxb-auth-loading-overlay *ngIf="isLoading"></pxb-auth-loading-overlay>

        <ng-container *ngIf="isSecurityInitiated">
            <!-- Login  -->
            <div class="pxb-auth-login" *ngIf="showLogin">
                <div #login>
                    <ng-content select="pxb-login"></ng-content>
                </div>
                <pxb-login *ngIf="isEmpty(loginEl)"></pxb-login>
            </div>

            <!-- Reset Password -->
            <div class="pxb-auth-reset-password" *ngIf="showResetPassword">
                <div #resetPassword>
                    <ng-content select="pxb-reset-password"></ng-content>
                </div>
                <pxb-reset-password *ngIf="isEmpty(resetPasswordEl)"></pxb-reset-password>
            </div>

            <!-- Create Account (Self-Register) -->
            <div class="pxb-auth-create-account" *ngIf="showCreateAccount">
                <div #createAccount>
                    <ng-content select="pxb-create-account"></ng-content>
                </div>
                <pxb-create-account *ngIf="isEmpty(createAccountEl)"></pxb-create-account>
            </div>

            <!-- Create Account (Invited) -->
            <div class="pxb-auth-create-account-invite" *ngIf="showCreateAccountInvite">
                <div #createAccountInvite>
                    <ng-content select="pxb-create-account-invite"></ng-content>
                </div>
                <pxb-create-account-invite *ngIf="isEmpty(createAccountInviteEl)"></pxb-create-account-invite>
            </div>

            <!-- Forgot Password -->
            <div class="pxb-auth-forgot-password" *ngIf="showForgotPassword">
                <div #forgotPassword>
                    <ng-content select="pxb-auth-pxb-forgot-password"></ng-content>
                </div>
                <pxb-forgot-password *ngIf="isEmpty(forgotPasswordEl)"></pxb-forgot-password>
            </div>

            <!-- Contact Support -->
            <div class="pxb-auth-contact-support" *ngIf="showContactSupport">
                <div #contactSupport>
                    <ng-content select="pxb-contact-support"></ng-content>
                </div>
                <pxb-contact-support *ngIf="isEmpty(contactSupportEl)"></pxb-contact-support>
            </div>
        </ng-container>

        <div *ngIf="!isSecurityInitiated" class="pxb-auth-splash-screen-content">
            <img [src]="projectImage" style="max-width: 100%; max-height: 80px; margin-bottom: 48px;" />
            <mat-spinner diameter="40"></mat-spinner>
        </div>
    </mat-card>
</div>
