<!-- Error State -->
<ng-container *ngIf="!isValidRegistrationLink && !isLoading">
    <div class="mat-title blui-auth-title" [innerHTML]="translate.CREATE_ACCOUNT.EULA.TITLE"></div>
    <div class="blui-create-account-invite-content-error-state">
        <blui-empty-state>
            <div blui-title>
                <div #registrationLinkErrorTitleVC>
                    <ng-content select="[blui-registration-link-error-title]"></ng-content>
                </div>
                <div
                    *ngIf="isEmpty(registrationLinkErrorTitleEl)"
                    [innerHTML]="translate.CREATE_ACCOUNT.REGISTRATION_LINK.INVALID_TITLE"
                ></div>
            </div>
            <div blui-description>
                <div #registrationLinkErrorDescVC>
                    <ng-content select="[blui-registration-link-error-description]"></ng-content>
                </div>
                <div
                    *ngIf="isEmpty(registrationLinkErrorDescEl)"
                    [innerHTML]="translate.CREATE_ACCOUNT.REGISTRATION_LINK.INVALID_DESCRIPTION"
                ></div>
            </div>
            <mat-icon blui-empty-icon color="warn">error</mat-icon>
        </blui-empty-state>
    </div>
    <mat-divider class="blui-auth-divider blui-auth-action-button-divider"></mat-divider>
    <div class="blui-auth-action-button-container">
        <button mat-flat-button color="primary" (click)="navigateToLogin()" [style.width.%]="100">
            {{ translate.GENERAL.OKAY_BUTTON }}
        </button>
    </div>
</ng-container>

<ng-container *ngIf="isValidRegistrationLink && !isPXWhiteAccount">
    <blui-create-account-eula-step
        *ngIf="registrationUtils.getCurrentPage() === 0 && isValidRegistrationLink"
        [(userAcceptsEula)]="userAcceptsEula"
    ></blui-create-account-eula-step>

    <blui-create-account-create-password-step
        *ngIf="registrationUtils.getCurrentPage() === 1"
        [(password)]="password"
        [(passwordMeetsRequirements)]="passwordMeetsRequirements"
        (advance)="attemptContinue()"
    >
    </blui-create-account-create-password-step>

    <!-- Page 1 -->
    <blui-create-account-account-details-step
        *ngIf="registrationUtils.isFirstAccountDetailsPage()"
        [showDefaultAccountDetails]="true"
        [(firstName)]="firstName"
        [(lastName)]="lastName"
        [pageTitle]="accountDetails[0]?.pageTitle"
        [pageInstructions]="accountDetails[0]?.pageInstructions"
        (accountNameValid)="validAccountName = $event"
        (advance)="attemptContinue()"
    >
        <template
            blui-account-details
            [ngTemplateOutlet]="registrationUtils.getCustomAccountDetailsTemplate()"
        ></template>
    </blui-create-account-account-details-step>

    <!-- Custom Account Details Pages -->
    <blui-create-account-account-details-step
        *ngIf="registrationUtils.isCustomAccountsDetailsPage()"
        [pageTitle]="registrationUtils.getCustomAccountDetailsTitle()"
        [pageInstructions]="registrationUtils.getCustomAccountDetailsInstructions()"
    >
        <template
            blui-account-details
            [ngTemplateOutlet]="registrationUtils.getCustomAccountDetailsTemplate()"
        ></template>
    </blui-create-account-account-details-step>

    <blui-create-account-account-created-step
        *ngIf="registrationUtils.showAccountCreatedPage()"
        [userName]="getUserName()"
        [registrationSuccessScreen]="registrationSuccessScreen"
        [registrationSuccessScreenContext]="registrationSuccessScreenContext"
    ></blui-create-account-account-created-step>

    <ng-container *ngIf="!registrationUtils.showAccountCreatedPage()">
        <mat-divider class="blui-auth-divider blui-auth-action-button-divider"></mat-divider>
        <div class="blui-auth-action-button-container">
            <blui-mobile-stepper
                [steps]="registrationUtils.getNumberOfSteps()"
                [activeStep]="registrationUtils.getCurrentPage()"
            >
                <button blui-back-button mat-stroked-button color="primary" style="width: 100px;" (click)="goBack()">
                    <ng-container *ngIf="registrationUtils.getCurrentPage() === 0">
                        {{ translate.GENERAL.CANCEL_BUTTON }}
                    </ng-container>
                    <ng-container *ngIf="registrationUtils.getCurrentPage() !== 0">
                        {{ translate.GENERAL.BACK_BUTTON }}
                    </ng-container>
                </button>
                <button
                    blui-next-button
                    mat-flat-button
                    color="primary"
                    style="width: 100px;"
                    [disabled]="!canContinue()"
                    (click)="goNext()"
                >
                    {{ translate.GENERAL.NEXT_BUTTON }}
                </button>
            </blui-mobile-stepper>
        </div>
    </ng-container>
</ng-container>

<ng-container *ngIf="isValidRegistrationLink && isPXWhiteAccount">
    <blui-create-account-account-existing-step [registrationSuccessScreen]="existingAccountSuccessScreen">
    </blui-create-account-account-existing-step>
</ng-container>
