blui-create-account-eula-step,
blui-create-account-create-password-step,
blui-create-account-account-details-step,
blui-create-account-account-created-step,
blui-create-account-account-existing-step {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
}

.blui-create-account-invite-content-error-state {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    justify-content: center;
}
