<!-- Error State -->
<ng-container *ngIf="hasEmptyStateError() && !isLoading">
    <div class="mat-title pxb-auth-title">License Agreement</div>
    <div class="pxb-create-account-invite-content-error-state">
        <!-- TODO: How should we handle error states? -->
        <pxb-empty-state title="Error" description="There was an error during account registration.">
            <mat-icon pxb-empty-icon>error</mat-icon>
        </pxb-empty-state>
    </div>
    <mat-divider class="pxb-auth-divider" style="margin-bottom: 16px;"></mat-divider>
    <div class="pxb-auth-action-button-container">
        <button mat-flat-button color="primary" (click)="navigateToLogin()" [style.width.%]="100">Okay</button>
    </div>
</ng-container>

<ng-container *ngIf="!hasEmptyStateError()">
    <pxb-create-account-eula-step
        *ngIf="currentPageId === 0"
        [eula]="licenseAgreement"
        [(userAcceptsEula)]="userAcceptsEula"
    ></pxb-create-account-eula-step>

    <pxb-create-account-create-password-step
        *ngIf="currentPageId === 1"
        [(password)]="password"
        [(passwordMeetsRequirements)]="passwordMeetsRequirements"
        (advance)="canContinue() ? goNext() : ''"
    ></pxb-create-account-create-password-step>

    <pxb-create-account-account-details-step
        *ngIf="currentPageId === 2"
        [(firstName)]="firstName"
        [(lastName)]="lastName"
        [(phoneNumber)]="phoneNumber"
        [(validAccountDetails)]="validAccountDetails"
        (advance)="canContinue() ? goNext() : ''"
    >
    </pxb-create-account-account-details-step>

    <pxb-create-account-account-created-step *ngIf="currentPageId === 3" [firstName]="firstName" [lastName]="lastName">
    </pxb-create-account-account-created-step>

    <mat-divider class="pxb-auth-divider" style="margin-bottom: 16px;"></mat-divider>
    <div class="pxb-auth-action-button-container">
        <ng-container *ngIf="currentPageId <= 2">
            <button mat-stroked-button color="primary" (click)="goBack()" style="width: 100px;">Back</button>
            <pxb-dot-stepper [steps]="4" [activeStepId]="currentPageId"></pxb-dot-stepper>
            <button
                mat-flat-button
                color="primary"
                [disabled]="!canContinue()"
                (click)="goNext()"
                style="width: 100px;"
            >
                Next
            </button>
        </ng-container>
        <button
            *ngIf="currentPageId === 3"
            mat-flat-button
            color="primary"
            (click)="navigateToLogin()"
            style="width: 100%"
        >
            Continue
        </button>
    </div>
</ng-container>
