pxb-create-account-eula-step,
pxb-create-account-create-password-step,
pxb-create-account-account-details-step,
pxb-create-account-account-created-step,
pxb-create-account-account-existing-step {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
}

.pxb-create-account-invite-content-error-state {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    justify-content: center;
    ::ng-deep {
        .pxb-empty-state-description {
            color: inherit;
        }
    }
}
