<div class="mat-title blui-auth-title" [innerHTML]="translate.RESET_PASSWORD.TITLE"></div>

<div class="blui-auth-full-height">
    <blui-empty-state *ngIf="!isValidResetCode && !isLoading" class="blui-reset-empty-state">
        <mat-icon blui-empty-icon color="warn">error</mat-icon>
        <div blui-title>
            <div #resetLinkErrorTitleVC>
                <ng-content select="[blui-reset-link-error-title]"></ng-content>
            </div>
            <div
                *ngIf="isEmpty(resetLinkErrorTitleEl)"
                [innerHTML]="translate.RESET_PASSWORD.RESET_LINK_ERROR_TITLE"
            ></div>
        </div>
        <div blui-description>
            <div #resetLinkErrorDescVC>
                <ng-content select="[blui-reset-link-error-description]"></ng-content>
            </div>
            <div
                *ngIf="isEmpty(resetLinkErrorDescEl)"
                [innerHTML]="translate.RESET_PASSWORD.RESET_LINK_ERROR_DESCRIPTION"
            ></div>
        </div>
    </blui-empty-state>

    <div *ngIf="!passwordResetSuccess && isValidResetCode">
        <p class="mat-body-1" style="margin-bottom: 24px" [innerHTML]="translate.RESET_PASSWORD.INSTRUCTIONS"></p>
        <mat-divider class="blui-auth-divider blui-auth-divider" style="margin-top: 16px; margin-bottom: 32px">
        </mat-divider>
        <form>
            <blui-password-field
                #passwordField
                id="blui-password"
                (enter)="focusConfirmPassword()"
            ></blui-password-field>
            <blui-password-strength-checker
                [(meetsRequirements)]="passesStrengthCheck"
                [formValue]="passwordFormControl?.value"
                [requirements]="passwordRequirements"
            >
            </blui-password-strength-checker>
            <blui-password-field
                #confirmPasswordField
                id="blui-confirm-password"
                [label]="translate.GENERAL.CONFIRM_PASSWORD_FORM_LABEL"
                [shouldMatch]="passwordFormControl"
                [(passwordsMatch)]="passwordsMatch"
                (enter)="hasValidPasswords() ? resetPassword() : ''"
            >
            </blui-password-field>
        </form>
    </div>

    <blui-empty-state *ngIf="passwordResetSuccess" class="blui-reset-empty-state">
        <mat-icon blui-empty-icon color="primary">check_circle</mat-icon>
        <div blui-title [innerHTML]="translate.RESET_PASSWORD.SUCCESS_TITLE"></div>
        <div blui-description [innerHTML]="translate.RESET_PASSWORD.SUCCESS_DESCRIPTION"></div>
    </blui-empty-state>
</div>

<mat-divider *ngIf="!isLoading || isValidResetCode" class="blui-auth-divider blui-auth-action-button-divider">
</mat-divider>

<div class="blui-auth-action-button-container" *ngIf="!isLoading || isValidResetCode">
    <button *ngIf="!isValidResetCode" mat-flat-button color="primary" (click)="navigateToLogin()" style="width: 100%">
        {{ translate.GENERAL.OKAY_BUTTON }}
    </button>
    <ng-container *ngIf="isValidResetCode">
        <button
            mat-stroked-button
            *ngIf="!passwordResetSuccess"
            color="primary"
            (click)="navigateToLogin()"
            style="width: 100px"
        >
            {{ translate.GENERAL.CANCEL_BUTTON }}
        </button>
        <button
            mat-flat-button
            *ngIf="!passwordResetSuccess"
            [disabled]="!hasValidPasswords() || isLoading"
            color="primary"
            (click)="resetPassword()"
            style="width: 100px"
        >
            {{ translate.GENERAL.OKAY_BUTTON }}
        </button>
        <button mat-flat-button *ngIf="passwordResetSuccess" color="primary" (click)="done()" style="width: 100%">
            {{ translate.GENERAL.DONE_BUTTON }}
        </button>
    </ng-container>
</div>
