<div class="mat-title pxb-auth-title" [innerHTML]="translate.RESET_PASSWORD.TITLE"></div>

<div class="pxb-auth-full-height">
    <pxb-empty-state *ngIf="!isValidResetCode && !isLoading" class="pxb-reset-empty-state">
        <mat-icon pxb-empty-icon color="warn">error</mat-icon>
        <div pxb-title>
            <div #resetLinkErrorTitleVC>
                <ng-content select="[pxb-reset-link-error-title]"></ng-content>
            </div>
            <div
                *ngIf="isEmpty(resetLinkErrorTitleEl)"
                [innerHTML]="translate.RESET_PASSWORD.RESET_LINK_ERROR_TITLE"
            ></div>
        </div>
        <div pxb-description>
            <div #resetLinkErrorDescVC>
                <ng-content select="[pxb-reset-link-error-description]"></ng-content>
            </div>
            <div
                *ngIf="isEmpty(resetLinkErrorDescEl)"
                [innerHTML]="translate.RESET_PASSWORD.RESET_LINK_ERROR_DESCRIPTION"
            ></div>
        </div>
    </pxb-empty-state>

    <div *ngIf="!passwordResetSuccess && isValidResetCode">
        <p class="mat-body-1" style="margin-bottom: 24px;" [innerHTML]="translate.RESET_PASSWORD.INSTRUCTIONS"></p>
        <mat-divider class="pxb-auth-divider pxb-auth-divider" style="margin-top: 16px; margin-bottom: 32px;">
        </mat-divider>
        <form>
            <pxb-password-field #passwordField (enter)="focusConfirmPassword()"></pxb-password-field>
            <pxb-password-strength-checker
                [(meetsRequirements)]="passesStrengthCheck"
                [formValue]="passwordFormControl?.value"
                [requirements]="passwordRequirements"
            >
            </pxb-password-strength-checker>
            <pxb-password-field
                #confirmPasswordField
                [label]="translate.GENERAL.CONFIRM_PASSWORD_FORM_LABEL"
                [shouldMatch]="passwordFormControl"
                [(passwordsMatch)]="passwordsMatch"
                (enter)="hasValidPasswords() ? resetPassword() : ''"
            >
            </pxb-password-field>
        </form>
    </div>

    <pxb-empty-state *ngIf="passwordResetSuccess" class="pxb-reset-empty-state">
        <mat-icon pxb-empty-icon color="primary">check_circle</mat-icon>
        <div pxb-title [innerHTML]="translate.RESET_PASSWORD.SUCCESS_TITLE"></div>
        <div pxb-description [innerHTML]="translate.RESET_PASSWORD.SUCCESS_DESCRIPTION"></div>
    </pxb-empty-state>
</div>

<mat-divider *ngIf="!isLoading || isValidResetCode" class="pxb-auth-divider pxb-auth-action-button-divider">
</mat-divider>

<div class="pxb-auth-action-button-container" *ngIf="!isLoading || isValidResetCode">
    <button *ngIf="!isValidResetCode" mat-flat-button color="primary" (click)="navigateToLogin()" style="width: 100%;">
        {{ translate.GENERAL.OKAY_BUTTON }}
    </button>
    <ng-container *ngIf="isValidResetCode">
        <button
            mat-stroked-button
            *ngIf="!passwordResetSuccess"
            color="primary"
            (click)="navigateToLogin()"
            style="width: 100px;"
        >
            {{ translate.GENERAL.CANCEL_BUTTON }}
        </button>
        <button
            mat-flat-button
            *ngIf="!passwordResetSuccess"
            [disabled]="!hasValidPasswords() || isLoading"
            color="primary"
            (click)="resetPassword()"
            style="width: 100px;"
        >
            {{ translate.GENERAL.OKAY_BUTTON }}
        </button>
        <button mat-flat-button *ngIf="passwordResetSuccess" color="primary" (click)="done()" style="width: 100%;">
            {{ translate.GENERAL.DONE_BUTTON }}
        </button>
    </ng-container>
</div>
