<div class="mat-title title">
    {{ pageTitle }}
    <ng-content *ngIf="!pageTitle" select="[pxb-page-title]"></ng-content>
</div>

<div class="content" style="justify-content: center;" *ngIf="!isValidResetCode && !isLoading">
    <pxb-empty-state
        class="empty-state"
        [title]="resetCodeErrorTitle"
        [description]="resetCodeErrorDescription"
    >
        <mat-icon pxb-empty-icon class="empty-state-icon-error">error</mat-icon>
        <ng-content pxb-title select="[pxb-reset-code-error-title]"></ng-content>
        <ng-content pxb-description select="[pxb-reset-code-error-description]"></ng-content>
    </pxb-empty-state>
</div>

<div class="content" *ngIf="!passwordResetSuccess && isValidResetCode">
    <p class="mat-body-1" style="margin-bottom: 24px;">
        {{ pageDescription }}
        <ng-content *ngIf="!pageDescription" select="[pxb-page-description]"></ng-content>
    </p>
    <mat-divider class="pxb-auth-divider pxb-auth-divider-32" style="margin-top: 16px; margin-bottom: 32px;">
    </mat-divider>
    <form [formGroup]="passwordFormGroup">
        <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>{{ passwordFormLabel }}</mat-label>
            <input
                id="pxb-password"
                name="password"
                matInput
                [placeholder]="passwordFormLabel"
                required
                formControlName="newPassword"
                [type]="newPasswordVisible ? 'text' : 'password'"
                (keyup.enter)="pxbFormsService.advanceToNextField(confirmInputElement)"
            />
            <button type="button" mat-icon-button matSuffix (click)="toggleNewPasswordVisibility()">
                <mat-icon>{{ newPasswordVisible ? 'visibility' : 'visibility_off' }}</mat-icon>
            </button>
        </mat-form-field>
        <pxb-password-strength-checker
            [(meetsRequirements)]="passesStrengthCheck"
            [formValue]="passwordFormGroup.value.newPassword"
            [requirements]="passwordRequirements"
        >
        </pxb-password-strength-checker>
        <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>{{ confirmPasswordFormLabel }}</mat-label>
            <input
                #pxbConfirm
                id="pxb-confirm"
                name="confirm"
                matInput
                [placeholder]="confirmPasswordFormLabel"
                required
                formControlName="confirmPassword"
                [type]="confirmPasswordVisible ? 'text' : 'password'"
                [errorStateMatcher]="errorMatcher"
                (keydown.enter)="isPasswordGroupValid() ? resetPassword() : ''"
            />
            <button type="button" mat-icon-button matSuffix (click)="toggleConfirmPasswordVisibility()">
                <mat-icon>{{ confirmPasswordVisible ? 'visibility' : 'visibility_off' }}</mat-icon>
            </button>
            <mat-error *ngIf="passwordFormGroup.hasError('passwordsDoNotMatch')"
                >{{ passwordMismatchError }}
            </mat-error>
        </mat-form-field>
    </form>
</div>

<div class="content" style="justify-content: center;" *ngIf="passwordResetSuccess">
    <pxb-empty-state class="empty-state" [title]="resetSuccessTitle" [description]="resetSuccessDescription">
        <mat-icon pxb-empty-icon class="empty-state-icon">check_circle</mat-icon>
        <ng-content pxb-title select="[pxb-reset-success-title]"></ng-content>
        <ng-content pxb-description select="[pxb-reset-success-description]"></ng-content>
    </pxb-empty-state>
</div>

<mat-divider *ngIf="!isLoading || isValidResetCode" class="pxb-auth-divider" style="margin-bottom: 16px;"></mat-divider>
<div class="button-container" *ngIf="!isLoading || isValidResetCode">
    <button *ngIf="!isValidResetCode" mat-flat-button color="primary" (click)="navigateToLogin()" style="width: 100%;">
        Okay
    </button>
    <ng-container *ngIf="isValidResetCode">
        <button
            mat-stroked-button
            *ngIf="!passwordResetSuccess"
            color="primary"
            (click)="navigateToLogin()"
            style="width: 100px;"
        >
            {{ backButtonText }}
            <ng-content *ngIf="!backButtonText" select="[pxb-back-button-text]"></ng-content>
        </button>
        <button
            mat-flat-button
            *ngIf="!passwordResetSuccess"
            [disabled]="!isPasswordGroupValid() || isLoading"
            color="primary"
            (click)="resetPassword()"
            style="width: 100px;"
        >
            {{ okayButtonText }}
            <ng-content *ngIf="!okayButtonText" select="[pxb-okay-button-text]"></ng-content>
        </button>
        <button mat-flat-button *ngIf="passwordResetSuccess" color="primary" (click)="done()" style="width: 100%;">
            {{ doneButtonText }}
            <ng-content *ngIf="!doneButtonText" select="[pxb-done-button-text]"></ng-content>
        </button>
    </ng-container>
</div>
