.pxb-reset-empty-state {
    display: flex;
    justify-content: center;
    flex: 1 1 0;
    ::ng-deep .pxb-empty-state-description {
        color: inherit;
    }
    ::ng-deep .pxb-empty-state-empty-icon-wrapper {
        margin-bottom: 32px;
    }
}
