@import '~@pxblue/colors/palette';

.pxb-forgot-password-instructions {
    display: flex;
    flex-direction: column;
    flex: 1 1 0px;
}

.pxb-forgot-password-button-container {
    padding-top: 8px;
    display: flex;
    justify-content: space-between;
}

.pxb-forgot-password-success {
    display: flex;
    justify-content: center;
    flex: 1 1 0px;

    ::ng-deep .pxb-empty-state-description {
        color: inherit;
    }
    .pxb-empty-state-empty-icon-wrapper {
        margin-bottom: 32px;
    }
    .pxb-forgot-password-empty-state-icon {
        color: map-get($pxb-blue, 500);
    }
}
