<div class="mat-title pxb-auth-title">{{ translate.FORGOT_PASSWORD.TITLE }}</div>

<div class="pxb-forgot-password-instructions" *ngIf="!passwordResetSuccess">
    <p class="mat-body-1" style="margin-bottom: 24px;">{{ translate.FORGOT_PASSWORD.INSTRUCTIONS }}</p>
    <p class="mat-body-1" style="margin-bottom: 24px;" [innerHTML]="translate.FORGOT_PASSWORD.RESPONSE_TIME_TEXT"></p>
    <p class="mat-body-1" style="margin-bottom: 24px;" [innerHTML]="getSupportByPhone()"></p>
    <mat-divider class="pxb-auth-divider" style="margin-top: 16px; margin-bottom: 32px;"></mat-divider>
    <form>
        <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>{{ translate.GENERAL.EMAIL_FORM_LABEL }}</mat-label>
            <input
                id="email"
                name="email"
                type="email"
                matInput
                [formControl]="emailFormControl"
                [errorStateMatcher]="matcher"
                (keyup.enter)="emailFormControl.valid ? resetPassword() : ''"
            />
            <mat-error
                *ngIf="
                    emailFormControl.hasError('email') &&
                    !emailFormControl.hasError('required') &&
                    !emailFormControl.hasError(customErrorName)
                "
            >
                {{ translate.GENERAL.EMAIL_INVALID_ERROR }}
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError(customErrorName)">
                {{ emailFormControl.errors[customErrorName].message }}
            </mat-error>
            <mat-error
                *ngIf="emailFormControl.hasError('required')"
                [innerHTML]="translate.GENERAL.IS_REQUIRED_ERROR(translate.GENERAL.EMAIL_FORM_LABEL)"
            ></mat-error>
        </mat-form-field>
    </form>
</div>

<div class="pxb-forgot-password-success" style="justify-content: center;" *ngIf="passwordResetSuccess">
    <pxb-empty-state
        [title]="translate.FORGOT_PASSWORD.SUCCESS_TITLE"
        [description]="translate.FORGOT_PASSWORD.SUCCESS_DESCRIPTION(emailFormControl.value)"
    >
        <mat-icon pxb-empty-icon class="pxb-forgot-password-empty-state-icon">check_circle</mat-icon>
    </pxb-empty-state>
</div>

<mat-divider class="pxb-auth-divider" style="margin-bottom: 16px;"></mat-divider>
<div class="pxb-auth-action-button-container">
    <button
        mat-stroked-button
        *ngIf="!passwordResetSuccess"
        color="primary"
        (click)="navigateToLogin()"
        style="width: 100px;"
    >
        {{ translate.GENERAL.BACK_BUTTON }}
    </button>
    <button
        mat-flat-button
        *ngIf="!passwordResetSuccess"
        [disabled]="!emailFormControl.valid"
        color="primary"
        (click)="resetPassword()"
        style="width: 100px;"
    >
        {{ translate.GENERAL.OKAY_BUTTON }}
    </button>
    <button
        mat-flat-button
        *ngIf="passwordResetSuccess"
        color="primary"
        (click)="navigateToLogin()"
        [style.width.%]="100"
    >
        {{ translate.GENERAL.DONE_BUTTON }}
    </button>
</div>
