<div class="mat-title title">Forgot Password</div>

<div class="content" *ngIf="!passwordResetSuccess">
    <p class="mat-body-1" style="margin-bottom: 24px;">Please enter the account email associated with the account.</p>
    <p class="mat-body-1" style="margin-bottom: 24px;">
        If this email has an account with Eaton, you will receive a response within <strong>one business day</strong>.
    </p>
    <p class="mat-body-1" style="margin-bottom: 24px;">
        For urgent account issues, please call <a class="link" [href]="'tel:' + contactPhone">{{ contactPhone }}</a
        >.
    </p>
    <mat-divider style="margin-top: 16px; margin-bottom: 32px;"></mat-divider>
    <form>
        <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Email Address</mat-label>
            <input
                id="email"
                name="email"
                type="email"
                matInput
                [formControl]="emailFormControl"
                [errorStateMatcher]="matcher"
            />
            <mat-error
                *ngIf="
                    emailFormControl.hasError('email') &&
                    !emailFormControl.hasError('required') &&
                    !emailFormControl.hasError(customErrorName)
                "
            >
                Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError(customErrorName)">
                {{ emailFormControl.errors[customErrorName].message }}
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')"> Email is <strong>required</strong> </mat-error>
        </mat-form-field>
    </form>
</div>

<div class="content" style="justify-content: center;" *ngIf="passwordResetSuccess">
    <pxb-empty-state class="empty-state" [title]="successTitle" [description]="successDescriptionMessage">
        <mat-icon pxb-empty-icon class="empty-state-icon">check_circle</mat-icon>
    </pxb-empty-state>
</div>

<mat-divider style="margin-bottom: 16px;"></mat-divider>
<div class="button-container">
    <button
        mat-stroked-button
        [disabled]="passwordResetSuccess"
        color="primary"
        (click)="navigateToLogin()"
        style="width: 100px;"
    >
        Back
    </button>
    <button
        mat-flat-button
        *ngIf="!passwordResetSuccess"
        [disabled]="!emailFormControl.valid"
        color="primary"
        (click)="resetPassword()"
        style="width: 100px;"
    >
        Okay
    </button>
    <button mat-flat-button *ngIf="passwordResetSuccess" color="primary" (click)="done()" style="width: 100px;">
        Done
    </button>
</div>
