.blui-forgot-password-success {
    display: flex;
    justify-content: center;
    flex: 1 1 0;
    .blui-empty-state-empty-icon-wrapper {
        margin-bottom: 0px;
    }
    .blui-empty-state-content {
        .blui-empty-state-title {
            margin-top: 0px;
        }
        .blui-empty-state-description {
            margin-bottom: 0px;
        }
    }
}
