<div class="mat-title blui-auth-title" [innerHTML]="translate.FORGOT_PASSWORD.TITLE"></div>

<div class="blui-auth-full-height" *ngIf="!passwordResetSuccess">
    <p
        class="mat-body-1"
        style="margin-bottom: 24px; margin-top: 0px"
        [innerHTML]="translate.FORGOT_PASSWORD.INSTRUCTIONS"
    ></p>
    <p
        class="mat-body-1"
        style="margin-bottom: 24px; margin-top: 0px"
        [innerHTML]="translate.FORGOT_PASSWORD.RESPONSE_TIME_TEXT"
    ></p>
    <p class="mat-body-1" style="margin-bottom: 24px; margin-top: 0px" [innerHTML]="getSupportByPhone()"></p>
    <mat-divider class="blui-auth-divider" style="margin-top: 16px; margin-bottom: 32px"></mat-divider>
    <form>
        <blui-email-field
            [customEmailValidator]="customEmailValidator"
            (edit)="email = $event"
            (enter)="hasValidEmail() ? resetPassword() : ''"
        ></blui-email-field>
    </form>
</div>

<div class="blui-forgot-password-success" style="justify-content: center" *ngIf="passwordResetSuccess">
    <blui-empty-state>
        <mat-icon blui-empty-icon class="blui-forgot-password-empty-state-icon" color="primary">check_circle</mat-icon>
        <div blui-title [innerHTML]="translate.FORGOT_PASSWORD.SUCCESS_TITLE"></div>
        <div blui-description [innerHTML]="translate.FORGOT_PASSWORD.SUCCESS_DESCRIPTION(email)"></div>
    </blui-empty-state>
</div>

<mat-divider class="blui-auth-divider blui-auth-action-button-divider"></mat-divider>
<div class="blui-auth-action-button-container">
    <button
        mat-stroked-button
        *ngIf="!passwordResetSuccess"
        color="primary"
        (click)="navigateToLogin()"
        style="width: 100px"
    >
        {{ translate.GENERAL.BACK_BUTTON }}
    </button>
    <button
        mat-flat-button
        id="blui-reset-button"
        *ngIf="!passwordResetSuccess"
        [disabled]="!hasValidEmail()"
        color="primary"
        (click)="resetPassword()"
        style="width: 100px"
    >
        {{ translate.GENERAL.OKAY_BUTTON }}
    </button>
    <button
        mat-flat-button
        *ngIf="passwordResetSuccess"
        color="primary"
        (click)="navigateToLogin()"
        [style.width.%]="100"
    >
        {{ translate.GENERAL.DONE_BUTTON }}
    </button>
</div>
