<div class="pxb-login-header">
    <div #header><ng-content select="[pxb-login-header]"></ng-content></div>
    <div *ngIf="isEmpty(headerEl)">DEFAULT HEADER</div>
</div>

<form>
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher" />
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')"> Email is <strong>required</strong> </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput [formControl]="passwordFormControl" [errorStateMatcher]="matcher" />
    </mat-form-field>
</form>

<div style="display: flex; justify-content: space-between; margin-bottom: 64px; align-items: center">
    <mat-checkbox [(ngModel)]="rememberMe">Remember Me</mat-checkbox>
    <button
        mat-flat-button
        color="primary"
        class="pxb-login-button"
        (click)="login()"
        [disabled]="isLoading || !isValidFormEntries()"
    >
        Log In
    </button>
</div>

<div class="pxb-login-password-link" (click)="forgotPassword()">Forgot your Password?</div>
<div class="pxb-login-create-account-link" (click)="createAccount()">Create an Account</div>

<div class="pxb-login-footer">
  <div #footer><ng-content select="[pxb-login-footer]"></ng-content></div>
  <div *ngIf="isEmpty(footerEl)">DEFAULT FOOTER</div>
</div>
