<div class="pxb-login-header">
    <div #header>
        <ng-content select="[pxb-login-header]"></ng-content>
    </div>
    <div *ngIf="isEmpty(headerEl)">DEFAULT HEADER</div>
</div>

<button
    *ngIf="pxbAuthConfig.allowDebugMode"
    mat-raised-button
    class="pxb-login-debug-button"
    color="primary"
    (click)="toggleDebugMode()"
    [innerHTML]="translate().LOGIN.ENABLE_DEBUG_MODE"
></button>

<div *ngIf="debugMode" class="pxb-login-debug-message">
    <div class="mat-title" [innerHTML]="translate().LOGIN.DEBUG_MODE"></div>
</div>

<mat-form-field *ngIf="debugMode">
    <mat-label>Language</mat-label>
    <mat-select
        #pxbLanguageSelect
        (ngModelChange)="changeLanguage(pxbLanguageSelect.value)"
        [(ngModel)]="selectedLanguage"
    >
        <mat-option value="EN">English</mat-option>
        <mat-option value="FR">French</mat-option>
        <mat-option value="ES">Spanish</mat-option>
        <mat-option value="ZH">Chinese</mat-option>
    </mat-select>
</mat-form-field>

<form>
    <pxb-email-field
        [customEmailValidator]="customEmailValidator"
        [rememberLoginEmail]="true"
        (enter)="focusPasswordField()"
    ></pxb-email-field>
    <pxb-password-field
        [style.marginBottom.px]="24"
        (enter)="hasValidFormEntries() ? login() : ''"
    ></pxb-password-field>
</form>

<div class="pxb-login-remember-me-login-wrapper">
    <mat-checkbox
        *ngIf="pxbAuthConfig.showRememberMe"
        class="pxb-login-remember-me-checkbox"
        [(ngModel)]="rememberMe"
        (change)="toggleRememberMe()"
        >{{ translate().LOGIN.REMEMBER_ME }}</mat-checkbox
    >
    <button
        mat-flat-button
        color="primary"
        class="pxb-login-button"
        [class.pxb-login-button-full-width]="!pxbAuthConfig.showRememberMe"
        (click)="login()"
        [disabled]="isLoading || !hasValidFormEntries()"
    >
        {{ translate().GENERAL.LOGIN_BUTTON }}
    </button>
</div>

<ng-content select="[pxb-login-actions]"></ng-content>

<div
    *ngIf="debugMode && pxbAuthConfig.showResetPassword"
    color="primary"
    class="pxb-auth-link mat-body-2"
    id="pxb-reset-password-link"
    (click)="testForgotPasswordEmail()"
>
    {{ translate().LOGIN.FORGOT_PASSWORD_LINK }}
</div>
<div
    *ngIf="debugMode && pxbAuthConfig.showCreateAccountViaInvite"
    color="primary"
    class="pxb-auth-link mat-body-2"
    id="pxb-create-account-invite-link"
    (click)="testInviteRegister()"
>
    {{ translate().LOGIN.TEST_INVITE_LINK }}
</div>
<div
    *ngIf="pxbAuthConfig.showForgotPassword"
    color="primary"
    class="pxb-auth-link mat-body-2"
    id="pxb-forgot-password-link"
    (click)="forgotPassword()"
    style="margin-bottom: 32px"
>
    {{ translate().LOGIN.FORGOT_PASSWORD }}
</div>

<div
    *ngIf="debugMode || pxbAuthConfig.showCreateAccount || pxbAuthConfig.showContactSupport"
    color="primary"
    class="mat-body-2"
    style="text-align: center;"
>
    {{ translate().LOGIN.NEED_AN_ACCOUNT }}
</div>

<div
    *ngIf="pxbAuthConfig.showCreateAccount"
    class="pxb-auth-link mat-body-2"
    id="pxb-create-account-link"
    style="margin-bottom: 32px"
    (click)="createAccount()"
>
    {{ translate().LOGIN.CREATE_ACCOUNT }}
</div>

<div
    *ngIf="pxbAuthConfig.showContactSupport"
    class="pxb-auth-link mat-body-2"
    (click)="contactSupport()"
    style="margin-bottom: 32px"
>
    {{ translate().LOGIN.CONTACT_SUPPORT }}
</div>

<pxb-spacer></pxb-spacer>

<div class="pxb-login-footer">
    <div #footer>
        <ng-content select="[pxb-login-footer]"></ng-content>
    </div>
    <div *ngIf="isEmpty(footerEl)">DEFAULT FOOTER</div>
</div>
