<div class="blui-login-header">
    <div #header>
        <ng-content select="[blui-login-header]"></ng-content>
    </div>
    <div *ngIf="isEmpty(headerEl)">DEFAULT HEADER</div>
</div>

<button
    *ngIf="bluiAuthConfig.allowDebugMode"
    mat-raised-button
    class="blui-login-debug-button"
    color="primary"
    (click)="toggleDebugMode()"
    [innerHTML]="translate().LOGIN.ENABLE_DEBUG_MODE"
></button>

<div *ngIf="debugMode" class="blui-login-debug-message">
    <div class="mat-title" [innerHTML]="translate().LOGIN.DEBUG_MODE"></div>
</div>

<ng-template #cardError>
    <mat-icon *ngIf="dismissible" style="float: right; cursor: pointer" (click)="showCardError = false">close</mat-icon>
    <div class="mat-body-2" style="font-weight: 400">{{ errorMessage }}</div>
</ng-template>

<mat-form-field *ngIf="debugMode">
    <mat-label>Language</mat-label>
    <mat-select
        #bluiLanguageSelect
        (ngModelChange)="changeLanguage(bluiLanguageSelect.value)"
        [(ngModel)]="selectedLanguage"
    >
        <mat-option value="EN">English</mat-option>
        <mat-option value="FR">French</mat-option>
        <mat-option value="ES">Spanish</mat-option>
        <mat-option value="ZH">Chinese</mat-option>
    </mat-select>
</mat-form-field>

<mat-card *ngIf="errorMessage && showCardError && position === 'top'" class="mat-elevation-z0 blui-login-box-error">
    <ng-template [ngTemplateOutlet]="cardError"></ng-template>
</mat-card>
<form>
    <blui-email-field
        [manualErrorMessage]="showFormErr ? errorMessage : ''"
        [customEmailValidator]="customEmailValidator"
        [rememberLoginEmail]="true"
        (enter)="focusPasswordField()"
        (edit)="clearInputErrorMessage()"
    ></blui-email-field>
    <blui-password-field
        [manualErrorMessage]="showFormErr ? errorMessage : ''"
        [style.marginBottom.px]="24"
        (edit)="clearInputErrorMessage()"
        (enter)="hasValidFormEntries() ? login() : ''"
    ></blui-password-field>
</form>

<mat-card
    *ngIf="errorMessage && showCardError && position === 'bottom'"
    class="mat-elevation-z0 blui-login-box-error blui-login-box-error-bottom"
>
    <ng-template [ngTemplateOutlet]="cardError"></ng-template>
</mat-card>

<div class="blui-login-remember-me-login-wrapper">
    <mat-checkbox
        *ngIf="bluiAuthConfig.showRememberMe"
        class="blui-login-remember-me-checkbox"
        [(ngModel)]="rememberMe"
        (change)="toggleRememberMe()"
        >{{ translate().LOGIN.REMEMBER_ME }}</mat-checkbox
    >
    <button
        mat-flat-button
        color="primary"
        class="blui-login-button"
        [class.blui-login-button-full-width]="!bluiAuthConfig.showRememberMe"
        (click)="login()"
        [disabled]="isLoading || !hasValidFormEntries()"
    >
        {{ translate().GENERAL.LOGIN_BUTTON }}
    </button>
</div>

<ng-content select="[blui-login-actions]"></ng-content>

<div
    *ngIf="debugMode && bluiAuthConfig.showResetPassword"
    color="primary"
    class="blui-auth-link mat-body-2"
    id="blui-reset-password-link"
    (click)="testForgotPasswordEmail()"
>
    {{ translate().LOGIN.FORGOT_PASSWORD_LINK }}
</div>
<div
    *ngIf="debugMode && bluiAuthConfig.showCreateAccountViaInvite"
    color="primary"
    class="blui-auth-link mat-body-2"
    id="blui-create-account-invite-link"
    (click)="testInviteRegister()"
>
    {{ translate().LOGIN.TEST_INVITE_LINK }}
</div>
<div
    *ngIf="bluiAuthConfig.showForgotPassword"
    color="primary"
    class="blui-auth-link mat-body-2"
    id="blui-forgot-password-link"
    (click)="forgotPassword()"
    style="margin-bottom: 32px"
>
    {{ translate().LOGIN.FORGOT_PASSWORD }}
</div>

<div
    *ngIf="debugMode || bluiAuthConfig.showCreateAccount || bluiAuthConfig.showContactSupport"
    color="primary"
    class="mat-body-2"
    style="text-align: center;"
>
    {{ translate().LOGIN.NEED_AN_ACCOUNT }}
</div>

<div
    *ngIf="bluiAuthConfig.showCreateAccount"
    class="blui-auth-link mat-body-2"
    id="blui-create-account-link"
    style="margin-bottom: 32px"
    (click)="createAccount()"
>
    {{ translate().LOGIN.CREATE_ACCOUNT }}
</div>

<div
    *ngIf="bluiAuthConfig.showContactSupport"
    class="blui-auth-link mat-body-2"
    (click)="contactSupport()"
    style="margin-bottom: 32px"
>
    {{ translate().LOGIN.CONTACT_SUPPORT }}
</div>

<blui-spacer></blui-spacer>

<div class="blui-login-footer">
    <div #footer>
        <ng-content select="[blui-login-footer]"></ng-content>
    </div>
    <div *ngIf="isEmpty(footerEl)">DEFAULT FOOTER</div>
</div>
