@import '@brightlayer-ui/colors/palette';
.blui-login-debug-button {
    position: absolute;
    top: 24px;
    right: 24px;
}

.blui-login-debug-message {
    padding: 8px;
    margin-bottom: 16px;
    background-color: map-get($blui-yellow, 500);
    text-align: center;
}

.blui-login-header {
    margin-bottom: 48px;
}

mat-form-field {
    width: 100%;
    margin-bottom: 25px;
}

::ng-deep .blui-login-remember-me-checkbox .mat-checkbox-inner-container {
    width: 18px;
    height: 18px;
}

.blui-login-remember-me-login-wrapper {
    display: flex;
    margin-top: 16px;
    justify-content: space-between;
    margin-bottom: 40px;
    align-items: center;
}

.blui-login-button {
    width: 150px;
}
.blui-login-button-full-width {
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .blui-login-debug-button {
        position: static;
        margin-bottom: 16px;
    }
    .blui-login-remember-me-login-wrapper {
        flex-direction: column;

        .blui-login-remember-me-checkbox {
            margin-bottom: 8px;
        }
    }
}

.blui-login-box-error {
    background-color: map-get($blui-red, 500);
    color: map-get($blui-white, 50);
    margin-bottom: 16px;
    &.blui-login-box-error-bottom {
        margin-top: 24px;
    }
}
