@import '~@pxblue/colors/palette';

:host {
    padding: 16px 48px;
}

.debug-button {
    position: absolute;
    top: 24px;
    right: 24px;
}

.debug-message {
    padding: 8px;
    margin-bottom: 16px;
    background-color: map-get($pxb-yellow, 500);
    text-align: center;
}

.pxb-login-header {
    margin-bottom: 48px;
}

mat-form-field {
    width: 100%;
    margin-bottom: 25px;
}

::ng-deep .checkbox .mat-checkbox-inner-container {
    width: 18px;
    height: 18px;
}

.pxb-login-button {
    width: 150px;
}

.pxb-login-password-link,
.pxb-login-create-account-link,
.pxb-login-contact-eaton-support-link,
.pxb-login-test-forgot-password-email-link,
.pxb-login-test-invite-register-link {
    color: map-get($pxb-blue, 500);
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}

.pxb-login-password-link,
.pxb-login-create-account-link,
.pxb-login-contact-eaton-support-link {
    margin-bottom: 32px;
}
