<pxb-create-account-provide-email-step
    *ngIf="currentPageId === 0"
    [(email)]="email"
    [(isValidEmail)]="isValidEmail"
></pxb-create-account-provide-email-step>

<pxb-create-account-eula-step
    *ngIf="currentPageId === 1"
    [(userAcceptsEula)]="userAcceptsEula"
></pxb-create-account-eula-step>

<pxb-create-account-verify-email-step
    *ngIf="currentPageId === 2"
    [email]="email"
    [(verificationCode)]="verificationCode"
></pxb-create-account-verify-email-step>

<pxb-create-account-create-password-step
    *ngIf="currentPageId === 3"
    [(password)]="password"
    [(passwordMeetsRequirements)]="passwordMeetsRequirements"
></pxb-create-account-create-password-step>

<pxb-create-account-account-details-step
    *ngIf="currentPageId === 4"
    [(firstName)]="firstName"
    [(lastName)]="lastName"
    [(phoneNumber)]="phoneNumber"
    [(validAccountDetails)]="validAccountDetails"
>
</pxb-create-account-account-details-step>

<pxb-create-account-account-created-step *ngIf="currentPageId === 5" [firstName]="firstName" [lastName]="lastName">
</pxb-create-account-account-created-step>

<mat-divider class="pxb-auth-divider" style="margin-bottom: 16px;"></mat-divider>
<div class="pxb-auth-action-button-container">
    <ng-container *ngIf="currentPageId <= 4">
        <button mat-stroked-button color="primary" (click)="goBack()" style="width: 100px;">Back</button>
        <pxb-dot-stepper [steps]="6" [activeStepId]="currentPageId"></pxb-dot-stepper>
        <button mat-flat-button color="primary" [disabled]="!canContinue()" (click)="goNext()" style="width: 100px;">
            Next
        </button>
    </ng-container>
    <button *ngIf="currentPageId === 5" mat-flat-button color="primary" (click)="navigateToLogin()" style="width: 100%">
        Continue
    </button>
</div>
