pxb-create-account-provide-email-step,
pxb-create-account-verify-email-step,
pxb-create-account-eula-step,
pxb-create-account-create-password-step,
pxb-create-account-account-details-step,
pxb-create-account-account-created-step,
pxb-create-account-account-existing-step {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
}
