<ng-container *ngIf="!isBrightlayerCloudAccount">
    <blui-create-account-eula-step
        *ngIf="registrationUtils.getCurrentPage() === 0"
        [(userAcceptsEula)]="userAcceptsEula"
    ></blui-create-account-eula-step>

    <blui-create-account-provide-email-step
        *ngIf="registrationUtils.getCurrentPage() === 1"
        [(email)]="email"
        [(isValidEmail)]="isValidEmail"
        [customEmailValidator]="getCustomEmailValidator()"
        (advance)="attemptContinue()"
    ></blui-create-account-provide-email-step>

    <blui-create-account-verify-email-step
        *ngIf="registrationUtils.getCurrentPage() === 2"
        [email]="email"
        [(verificationCode)]="verificationCode"
        (advance)="attemptContinue()"
    ></blui-create-account-verify-email-step>

    <blui-create-account-create-password-step
        *ngIf="registrationUtils.getCurrentPage() === 3"
        [(password)]="password"
        [(passwordMeetsRequirements)]="passwordMeetsRequirements"
        (advance)="attemptContinue()"
    >
    </blui-create-account-create-password-step>

    <!-- First Account Details Page -->
    <blui-create-account-account-details-step
        *ngIf="registrationUtils.isFirstAccountDetailsPage()"
        [showDefaultAccountDetails]="true"
        [(firstName)]="firstName"
        [(lastName)]="lastName"
        [pageTitle]="accountDetails[0]?.pageTitle"
        [pageInstructions]="accountDetails[0]?.pageInstructions"
        (accountNameValid)="validAccountName = $event"
        (advance)="attemptContinue()"
    >
        <template
            blui-account-details
            [ngTemplateOutlet]="registrationUtils.getCustomAccountDetailsTemplate()"
        ></template>
    </blui-create-account-account-details-step>

    <!-- Custom Account Details Pages -->
    <blui-create-account-account-details-step
        *ngIf="registrationUtils.isCustomAccountsDetailsPage()"
        [pageTitle]="registrationUtils.getCustomAccountDetailsTitle()"
        [pageInstructions]="registrationUtils.getCustomAccountDetailsInstructions()"
    >
        <template
            blui-account-details
            [ngTemplateOutlet]="registrationUtils.getCustomAccountDetailsTemplate()"
        ></template>
    </blui-create-account-account-details-step>

    <blui-create-account-account-created-step
        *ngIf="registrationUtils.showAccountCreatedPage()"
        [userName]="getUserName()"
        [email]="email"
        [registrationSuccessScreen]="registrationSuccessScreen"
        [registrationSuccessScreenContext]="registrationSuccessScreenContext"
    ></blui-create-account-account-created-step>

    <ng-container *ngIf="!registrationUtils.showAccountCreatedPage()">
        <mat-divider class="blui-auth-divider blui-auth-action-button-divider"></mat-divider>
        <div class="blui-auth-action-button-container">
            <blui-mobile-stepper
                [steps]="registrationUtils.getNumberOfSteps()"
                [activeStep]="registrationUtils.getCurrentPage()"
            >
                <button blui-back-button mat-stroked-button color="primary" style="width: 100px" (click)="goBack()">
                    <ng-container *ngIf="registrationUtils.getCurrentPage() === 0">
                        {{ translate.GENERAL.CANCEL_BUTTON }}
                    </ng-container>
                    <ng-container *ngIf="registrationUtils.getCurrentPage() !== 0">
                        {{ translate.GENERAL.BACK_BUTTON }}
                    </ng-container>
                </button>
                <button
                    blui-next-button
                    mat-flat-button
                    color="primary"
                    style="width: 100px"
                    [disabled]="!canContinue()"
                    (click)="goNext()"
                >
                    {{ translate.GENERAL.NEXT_BUTTON }}
                </button>
            </blui-mobile-stepper>
        </div>
    </ng-container>
</ng-container>

<ng-container *ngIf="isBrightlayerCloudAccount">
    <blui-create-account-account-existing-step
        [email]="email"
        [registrationSuccessScreen]="existingAccountSuccessScreen"
    >
    </blui-create-account-account-existing-step>
</ng-container>
