.blui-eula-confirm-agreement {
    margin: 24px 0;
}

::ng-deep .blui-eula-checkbox .mat-checkbox-layout {
    white-space: normal;
}

::ng-deep .blui-eula-checkbox .mat-checkbox-inner-container {
    width: 18px;
    height: 18px;
}

.blui-auth-eula-error {
    ::ng-deep .blui-empty-state-description {
        color: inherit;
    }
}
