<div class="pxb-change-password-content">
    <pxb-auth-loading-overlay *ngIf="isLoading"></pxb-auth-loading-overlay>

    <div class="mat-title pxb-change-password-title">Change Password</div>

    <ng-container *ngIf="!passwordChangeSuccess">
        <p class="mat-body-1 pxb-change-password-description">
            Please select a password. Make sure that your password meets the necessary complexity requirements outlined
            below.
        </p>
        <mat-divider style="margin-left: -32px; margin-right: -32px; margin-bottom: 32px;"></mat-divider>
        <form [formGroup]="passwordFormGroup">
            <mat-form-field appearance="fill" style="width: 100%; margin-bottom: 8px;">
                <mat-label>Current Password</mat-label>
                <input
                    id="current-password"
                    name="current-password"
                    matInput
                    placeholder="Current Password"
                    required
                    formControlName="currentPassword"
                    [type]="currentPasswordVisible ? 'text' : 'password'"
                />
                <button mat-icon-button matSuffix (click)="toggleCurrentPasswordVisibility()">
                    <mat-icon>{{ currentPasswordVisible ? 'visibility' : 'visibility_off' }}</mat-icon>
                </button>
            </mat-form-field>
            <mat-form-field appearance="fill" style="width: 100%;">
                <mat-label>Password</mat-label>
                <input
                    id="password"
                    name="password"
                    matInput
                    placeholder="Password"
                    required
                    formControlName="newPassword"
                    [type]="newPasswordVisible ? 'text' : 'password'"
                    (keyup)="checkPasswordStrength($event.target.value)"
                />
                <button mat-icon-button matSuffix (click)="toggleNewPasswordVisibility()">
                    <mat-icon>{{ newPasswordVisible ? 'visibility' : 'visibility_off' }}</mat-icon>
                </button>
            </mat-form-field>
            <mat-list class="pxb-change-password-validation-list">
                <app-password-strength-check [success]="passLength" validationMessage="8-16 Characters">
                </app-password-strength-check>
                <app-password-strength-check [success]="numberFlag" validationMessage="One number">
                </app-password-strength-check>
                <app-password-strength-check [success]="upperFlag" validationMessage="One uppercase letter">
                </app-password-strength-check>
                <app-password-strength-check [success]="lowerFlag" validationMessage="One lowercase letter">
                </app-password-strength-check>
                <app-password-strength-check [success]="specialFlag" validationMessage="One special character">
                </app-password-strength-check>
            </mat-list>
            <mat-form-field appearance="fill" style="width: 100%;">
                <mat-label>Confirm Password</mat-label>
                <input
                    id="confirm"
                    name="confirm"
                    matInput
                    placeholder="Confirm Password"
                    required
                    formControlName="confirmPassword"
                    [type]="confirmPasswordVisible ? 'text' : 'password'"
                    [errorStateMatcher]="errorMatcher"
                />
                <button mat-icon-button matSuffix (click)="toggleConfirmPasswordVisibility()">
                    <mat-icon>{{ confirmPasswordVisible ? 'visibility' : 'visibility_off' }}</mat-icon>
                </button>
                <mat-error *ngIf="passwordFormGroup.hasError('passwordsDoNotMatch')">Passwords do not match </mat-error>
            </mat-form-field>
        </form>
    </ng-container>

    <div class="pxb-change-password-success" *ngIf="passwordChangeSuccess">
        <pxb-empty-state
            class="pxb-change-password-empty-state"
            [title]="successTitle"
            [description]="successDescription"
        >
            <mat-icon pxb-empty-icon class="pxb-change-password-empty-state-icon">check_circle</mat-icon>
        </pxb-empty-state>
    </div>

    <mat-divider style="margin-bottom: 16px; margin-left: -32px; margin-right: -32px;"></mat-divider>

    <div class="pxb-change-password-button-container">
        <button
            mat-stroked-button
            [disabled]="passwordChangeSuccess"
            color="primary"
            (click)="closeDialog()"
            style="width: 100px;"
        >
            Back
        </button>
        <button
            mat-flat-button
            *ngIf="!passwordChangeSuccess"
            [disabled]="!isPasswordGroupValid()"
            color="primary"
            (click)="changePassword()"
            style="width: 100px;"
        >
            Okay
        </button>
        <button mat-flat-button *ngIf="passwordChangeSuccess" color="primary" (click)="done()" style="width: 100px;">
            Log In
        </button>
    </div>
</div>
