<pxb-auth-loading-overlay *ngIf="isLoading"></pxb-auth-loading-overlay>
<div class="mat-title pxb-auth-title" [innerHTML]="translate.CHANGE_PASSWORD.TITLE"></div>
<div class="pxb-auth-full-height" [class.pxb-change-password-centered-content]="passwordChangeSuccess">
    <ng-container *ngIf="!passwordChangeSuccess">
        <p class="mat-body-1 pxb-change-password-instructions" [innerHTML]="translate.CHANGE_PASSWORD.INSTRUCTIONS"></p>
        <mat-divider style="margin-bottom: 32px" class="pxb-auth-divider"></mat-divider>
        <form [formGroup]="passwordFormGroup">
            <mat-form-field appearance="fill" style="width: 100%; margin-bottom: 8px;">
                <mat-label>{{ translate.CHANGE_PASSWORD.CURRENT_PASSWORD_FORM_LABEL }}</mat-label>
                <input
                    id="pxb-current-password"
                    name="current-password"
                    matInput
                    [placeholder]="translate.CHANGE_PASSWORD.CURRENT_PASSWORD_FORM_LABEL"
                    required
                    formControlName="currentPassword"
                    [type]="currentPasswordVisible ? 'text' : 'password'"
                    (keyup.enter)="pxbFormsService.advanceToNextField(passwordInputElement)"
                />
                <button type="button" mat-icon-button matSuffix (click)="toggleCurrentPasswordVisibility()">
                    <mat-icon>{{ currentPasswordVisible ? 'visibility' : 'visibility_off' }}</mat-icon>
                </button>
            </mat-form-field>
            <mat-form-field appearance="fill" style="width: 100%;">
                <mat-label>{{ translate.CHANGE_PASSWORD.NEW_PASSWORD_FORM_LABEL }}</mat-label>
                <input
                    #pxbPassword
                    id="pxb-password"
                    name="password"
                    matInput
                    [placeholder]="translate.CHANGE_PASSWORD.NEW_PASSWORD_FORM_LABEL"
                    required
                    formControlName="newPassword"
                    [type]="newPasswordVisible ? 'text' : 'password'"
                    (keyup.enter)="pxbFormsService.advanceToNextField(confirmInputElement)"
                />
                <button type="button" mat-icon-button matSuffix (click)="toggleNewPasswordVisibility()">
                    <mat-icon>{{ newPasswordVisible ? 'visibility' : 'visibility_off' }}</mat-icon>
                </button>
            </mat-form-field>
            <pxb-password-strength-checker
                [requirements]="passwordRequirements"
                [formValue]="passwordFormGroup.value.newPassword"
                [(meetsRequirements)]="passesStrengthCheck"
            >
            </pxb-password-strength-checker>
            <mat-form-field appearance="fill" style="width: 100%;">
                <mat-label>{{ translate.CHANGE_PASSWORD.CONFIRM_PASSWORD_FORM_LABEL }}</mat-label>
                <input
                    #pxbConfirm
                    id="pxb-confirm"
                    name="confirm"
                    matInput
                    [placeholder]="translate.CHANGE_PASSWORD.CONFIRM_PASSWORD_FORM_LABEL"
                    required
                    formControlName="confirmPassword"
                    [type]="confirmPasswordVisible ? 'text' : 'password'"
                    (focus)="confirmPasswordFocused = true"
                    (blur)="confirmPasswordFocused = false"
                    [errorStateMatcher]="errorMatcher"
                    (keyup.enter)="allowPasswordChange() ? changePassword() : ''"
                />
                <button type="button" mat-icon-button matSuffix (click)="toggleConfirmPasswordVisibility()">
                    <mat-icon>{{ confirmPasswordVisible ? 'visibility' : 'visibility_off' }}</mat-icon>
                </button>
                <mat-error
                    *ngIf="!confirmPasswordFocused && passwordFormGroup.hasError('passwordsDoNotMatch')"
                    [innerHTML]="translate.GENERAL.PASSWORD_MISMATCH_ERROR"
                ></mat-error>
            </mat-form-field>
        </form>
    </ng-container>

    <pxb-empty-state *ngIf="passwordChangeSuccess" class="pxb-change-password-empty-state">
        <div pxb-title>
            <div [innerHTML]="translate.CHANGE_PASSWORD.SUCCESS_TITLE"></div>
        </div>
        <div pxb-description>
            <div [innerHTML]="translate.CHANGE_PASSWORD.SUCCESS_DESCRIPTION"></div>
        </div>
        <mat-icon pxb-empty-icon class="pxb-change-password-empty-state-icon">check_circle</mat-icon>
    </pxb-empty-state>
</div>

<mat-divider style="margin-bottom: 16px" class="pxb-auth-divider"></mat-divider>

<div class="pxb-auth-action-button-container">
    <button
        *ngIf="!passwordChangeSuccess"
        mat-stroked-button
        color="primary"
        (click)="closeDialog()"
        style="width: 100px;"
    >
        {{ translate.GENERAL.BACK_BUTTON }}
    </button>
    <button
        mat-flat-button
        *ngIf="!passwordChangeSuccess"
        [disabled]="!allowPasswordChange()"
        color="primary"
        (click)="changePassword()"
        style="width: 100px;"
    >
        {{ translate.GENERAL.OKAY_BUTTON }}
    </button>
    <button mat-flat-button *ngIf="passwordChangeSuccess" color="primary" (click)="done()" [style.width.%]="100">
        {{ translate.GENERAL.LOGIN_BUTTON }}
    </button>
</div>
