:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.pxb-change-password-instructions {
    margin-bottom: 32px;
    margin-top: 8px;
}

.pxb-change-password-centered-content {
    justify-content: center;
}

::ng-deep .pxb-change-password-empty-state .pxb-empty-state-description {
    color: inherit !important;
}

::ng-deep .pxb-change-password-empty-state .pxb-empty-state-empty-icon-wrapper {
    margin-bottom: 16px;
}

@media only screen and (max-width: 600px) {
    ::ng-deep .pxb-change-password-dialog .mat-dialog-container {
        padding: 16px !important;
        border-radius: 0 !important;
    }

    ::ng-deep .pxb-change-password-dialog {
        max-width: none !important;
        width: 100% !important;
        height: 100% !important;
    }
}
