@import '~@pxblue/colors/palette';

.pxb-change-password-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .pxb-change-password-title {
        padding-bottom: 24px;
    }

    .pxb-change-password-description {
        margin-bottom: 32px;
        margin-top: 8px;
    }

    .pxb-change-password-button-container {
        padding-top: 8px;
        display: flex;
        justify-content: space-between;
    }

    .pxb-change-password-validation-list mat-list-item {
        height: auto;
    }

    .pxb-change-password-validation-list {
        margin-bottom: 32px;
        margin-top: -16px;
    }

    ::ng-deep .pxb-change-password-empty-state .pxb-empty-state-description {
        color: inherit;
    }

    ::ng-deep .pxb-change-password-empty-state .pxb-empty-state-empty-icon-wrapper {
        margin-bottom: 16px;
    }

    .pxb-change-password-empty-state-icon {
        color: map-get($pxb-blue, 500);
    }

    .pxb-change-password-success {
        display: flex;
        justify-content: center;
        flex: 1 1 0px;
    }
}
