@import '~@pxblue/colors/palette';

:host {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.title {
    padding: 0 8px 32px;
}

.content {
    padding: 0 8px;
    display: flex;
    flex-direction: column;
    flex: 1 1 0px;
}

.button-container {
    padding: 8px;
    display: flex;
    justify-content: space-between;
}

.validation-list mat-list-item {
    height: auto;
}

.validation-list {
    margin-bottom: 24px;
    margin-top: -16px;
}

::ng-deep .content .pxb-empty-state-description {
    color: inherit !important;
}

::ng-deep .content .pxb-empty-state-empty-icon-wrapper {
    margin-bottom: 32px !important;
}

::ng-deep .mat-divider-horizontal {
    margin-left: -32px !important;
    margin-right: -32px !important;
    position: static !important;
    width: auto !important;
}

.empty-state-icon {
    color: map-get($pxb-blue, 500);
}

@media only screen and (max-width: 600px) {
    .title {
        padding: 0 0 32px;
    }

    .content {
        padding: 0;
    }

    .button-container {
        padding: 0;
    }
}
