<pxb-auth-loading-overlay *ngIf="isLoading"></pxb-auth-loading-overlay>
<div class="mat-title pxb-auth-title" [innerHTML]="translate.CHANGE_PASSWORD.TITLE"></div>
<div class="pxb-auth-full-height" [class.pxb-change-password-centered-content]="passwordChangeSuccess">
    <ng-container *ngIf="!passwordChangeSuccess">
        <p class="mat-body-1 pxb-change-password-instructions" [innerHTML]="translate.CHANGE_PASSWORD.INSTRUCTIONS"></p>
        <mat-divider style="margin-bottom: 32px" class="pxb-auth-divider"></mat-divider>
        <form>
            <pxb-password-field
                #currentPasswordField
                [label]="translate.CHANGE_PASSWORD.CURRENT_PASSWORD_FORM_LABEL"
                (enter)="focusNewPassword()"
            >
            </pxb-password-field>
            <pxb-password-field
                #newPasswordField
                [label]="translate.CHANGE_PASSWORD.NEW_PASSWORD_FORM_LABEL"
                (enter)="focusConfirmPassword()"
            ></pxb-password-field>
            <pxb-password-strength-checker
                [(meetsRequirements)]="passesStrengthCheck"
                [formValue]="newPasswordFormControl?.value"
                [requirements]="passwordRequirements"
            >
            </pxb-password-strength-checker>
            <pxb-password-field
                #confirmPasswordField
                [label]="translate.CHANGE_PASSWORD.CONFIRM_PASSWORD_FORM_LABEL"
                [shouldMatch]="newPasswordFormControl"
                [(passwordsMatch)]="passwordsMatch"
                (enter)="allowPasswordChange() ? changePassword() : ''"
            >
            </pxb-password-field>
        </form>
    </ng-container>

    <pxb-empty-state *ngIf="passwordChangeSuccess" class="pxb-change-password-empty-state">
        <div pxb-title [innerHTML]="translate.CHANGE_PASSWORD.SUCCESS_TITLE"></div>
        <div pxb-description [innerHTML]="translate.CHANGE_PASSWORD.SUCCESS_DESCRIPTION"></div>
        <mat-icon pxb-empty-icon color="primary" class="pxb-change-password-empty-state-icon">check_circle</mat-icon>
    </pxb-empty-state>
</div>

<mat-divider style="margin-bottom: 16px" class="pxb-auth-divider"></mat-divider>

<div class="pxb-auth-action-button-container">
    <button
        *ngIf="!passwordChangeSuccess"
        mat-stroked-button
        color="primary"
        (click)="closeDialog()"
        style="width: 100px;"
    >
        {{ translate.GENERAL.BACK_BUTTON }}
    </button>
    <button
        mat-flat-button
        *ngIf="!passwordChangeSuccess"
        [disabled]="!allowPasswordChange()"
        color="primary"
        (click)="changePassword()"
        style="width: 100px;"
    >
        {{ translate.GENERAL.OKAY_BUTTON }}
    </button>
    <button mat-flat-button *ngIf="passwordChangeSuccess" color="primary" (click)="done()" [style.width.%]="100">
        {{ translate.GENERAL.LOGIN_BUTTON }}
    </button>
</div>
